 <div class="container">
 <div class="row">
 <div class="col-md-4 col-md-offset-4">


  <div class="btn-group  btn-group-lg" role="group" aria-label="...">
  <%= link_to 'Users', admin_users_path, class: 'btn btn-default' %>
  <%= link_to 'Bookings', admin_bookings_path, class: 'btn btn-default' %>
  <%= link_to 'Comments', admin_comments_path, class: 'btn btn-default' %>
  
</div>


 </div>
 </div>
 </div>