<!-- subheader -->
<section id="subheader" class="subh-center" data-stellar-background-ratio=".2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Offers</h1>
        <h4>Get Special Discount</h4>
      </div>
    </div>
  </div>
</section>
<!-- subheader close -->

<div id="content">
 <div class="container">
  <div class="row">
   <div class="col-md-4">
    this is your content      
   </div>
   <div class="col-md-8">
    this is your content
   </div>
  </div>
 </div>
</div>

<section>
  <div class="container">
   <div class="row">
    this is your content
   </div>
  </div>
</section>
