<!-- subheader -->
<section id="subheader" class="subh-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>About</h1>
        <h4>All About Me</h4>
      </div>
    </div>
  </div>
</section>
<!-- subheader close -->

<div id="content">
 <div class="container">
  <div class="row">
   <div class="col-md-5">
    <p><strong>Mar Escribano </strong>completed a Degree in Public Administration from Jaén University in Spain and later on, she began a different career in another form of human development, focussing on several body works.  She eventually and fortuitously found her true passion: Californian massage.</p> 
    After looking for the institutions and the way in which she could learn about it and completing her studies, she became a certified Esalen© massage practitioner issued by the Esalen Institute of California, as well as receiving a  Diploma in Californian massage therapy from the Spanish Californian Massage School with Sujati Lacanna.
    Furthermore she has the knowledge of 'Body Psychotherapy', Bioenergetics and Enneagram wich she has been taught by the teacher Gerardo Provenzano, disciple of Claudio Naranjo.

   </div>
   <div class="col-md-5 col-md-offset-1">
    <iframe width="500" height="300" src="https://www.youtube.com/embed/-I0vqnopUj4" frameborder="0" allowfullscreen></iframe>
  </div>
  </div>
 </div>
</div>

<!-- <section>
  <div class="container">
   <div class="row">
   Mar Escribano completed a Degree in Public Administration from Jaén University in Spain and later on, she began a different career in another form of human development, focussing on several body works.  She eventually and fortuitously found her true passion: Californian massage. After looking for the institutions and the way in which she could learn about it and completing her studies, she became a certified Esalen© massage practitioner issued by the Esalen Institute of California, as well as receiving a  Diploma in Californian massage therapy from the Spanish Californian Massage School with Sujati Lacanna.
  Furthermore she has the knowledge of 'Body Psychotherapy', Bioenergetics and Enneagram wich she has been taught by the teacher Gerardo Provenzano, disciple of Claudio Naranjo.
   </div>
  </div>
</section> -->


