<!-- video section -->
<section id="section-intro-video" class="full-height no-padding" data-stellar-background-ratio=".2">
  <div class="de-video-container">
    <div class="de-video-content">
      <div class="text-center">
        <div class="spacer-single"></div>
          <h1 class="big-font">
            <span class="id-color">ESALEN MASSAGE</span>
          </h1>
        <div class="teaser-text mb20">
          The experience of opening your heart
        </div>
        <div class="spacer-single"></div>
      </div>
    </div>

    <div class="de-video-overlay"></div>

    <!-- load your video here -->
    <video autoplay="" loop="" muted="" poster="images/video-poster.jpg">
      <source src="http://themenesia.com/video/salon_1.mp4" type="video/mp4" />
      <source src="http://themenesia.com/video/salon_1.webm" type="video/webm" />
    </video>

  </div>
</section>
<!-- video section close -->


<div class="no-padding mt-130 height90px mobile-hide absolute z-index500 width100 text-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="overlay10">

          <div class="row-fluid">
            <div class="col-md-4">
              <div class="info-box padding20">
                <i class="icon_clock_alt id-color"></i>
                <div class="info-box_text">
                  <div class="info-box_title">Opening Times</div>
                  <div class="info-box_subtite">Monday - Friday: 09:00 - 22:00</div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="info-box padding20">
                <i class="icon_house_alt id-color"></i>
                <div class="info-box_text">
                  <div class="info-box_title">Our Location</div>
                  <div class="info-box_subtite">100 Mainstreet Center, Sydney</div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="info-box padding20">
                <i class="icon_calendar id-color"></i>
                <div class="info-box_text">
                  <div class="info-box_title">Book Now</div>
                  <div class="info-box_subtite">+208 333 9296</div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>
          </div>
        </div>

      </div>
    <!-- </div> -->
  </div>
</div>
</div>



<section class="text-light" data-bgcolor="#3d243c">

  <div class="container">
    <div class="row">

      <div class="col-md-4 wow fadeIn" data-wow-delay="0s">
        <div class="box-number square">
          <span class="number wow rotateIn" data-wow-delay=".5s">1</span>
          <div class="text">
            <h3>Highly personalised treatment</h3>
            <p>The bodywork practitioner offers his or her empathic and conscious ability and open presence and performs a massage "with their feet on the ground". This is why the Esalen® training programme includes meditation and personal development practices, to help the therapist reach a balanced state.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 wow fadeIn" data-wow-delay=".25s">
        <div class="box-number square">
          <span class="number wow rotateIn" data-wow-delay=".75s">2</span>
          <div class="text">
            <h3>Awards Winning</h3>
            <p>With years of experiences and continuing education, our dedicated staff is ready to serve your beauty needs. We're happy to help you decide the best look.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 wow fadeIn" data-wow-delay=".5s">
        <div class="box-number square">
          <span class="number wow rotateIn" data-wow-delay="1s">3</span>
          <div class="text">
            <h3>Expert Staff</h3>
            <p>With years of experiences and continuing education, our dedicated staff is ready to serve your beauty needs. We're happy to help you decide the best look.</p>
          </div>
        </div>
      </div>

      <div class="spacer-single"></div>

      <div class="col-md-4 wow fadeIn" data-wow-delay=".75s">
        <div class="box-number square">
          <span class="number wow rotateIn" data-wow-delay="1.25s">4</span>
          <div class="text">
            <h3>Reasonable Price</h3>
            <p>With years of experiences and continuing education, our dedicated staff is ready to serve your beauty needs. We're happy to help you decide the best look.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 wow fadeIn" data-wow-delay="1s">
        <div class="box-number square">
          <span class="number wow rotateIn" data-wow-delay="1.5s">5</span>
          <div class="text">
            <h3>Guaranteed Services</h3>
            <p>With years of experiences and continuing education, our dedicated staff is ready to serve your beauty needs. We're happy to help you decide the best look.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 wow fadeIn" data-wow-delay="1.25s">
        <div class="box-number square">
          <span class="number wow rotateIn" data-wow-delay="1.75s">6</span>
          <div class="text">
            <h3>Free Consultation</h3>
            <p>With years of experiences and continuing education, our dedicated staff is ready to serve your beauty needs. We're happy to help you decide the best look.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>