<!-- subheader -->
<section id="subheader" class="subh-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Princing</h1>
        <h4>lorem ipsum</h4>
      </div>
    </div>
  </div>
</section>
<!-- subheader close -->

<div id="content" class="no-bottom no-top">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="box-border padding30">
            <div class="text-center" >
            <img src="images/background/bg-div-2.jpg" alt="" class="img-circle img-service-thumbnail" />
              <div class="spacer-single"></div>
              <h1></h1>
              <div class="spacer-double"></div>
            </div>


            <div class="sub-item-service">
              <div class="c1"><h3><strong>Esalen Massage</strong></h3></div>
            </div>
            <div class="sub-item-service">
              <div class="c1">120 mts</div>
              <div class="c2"></div>
              <div class="c3">£120</div>
            </div>            
            <div class="sub-item-service">
              <div class="c1">80 mts</div>
              <div class="c2"></div>
              <div class="c3">£90</div>
            </div>
            <div class="sub-item-service">
              <div class="c1">60 mts</div>
              <div class="c2"></div>
              <div class="c3">£70</div>
            </div>


            <div class="sub-item-service">
              <div class="c1"><h3><strong>Hawaiian massage</strong></h3></div>
            </div>
            <div class="sub-item-service">
              <div class="c1">60 mts</div>
              <div class="c2"></div>
              <div class="c3">£70</div>
            </div>

            
            <div class="sub-item-service">
              <div class="c1"><h3><strong>Swedish massage</strong></h3></div>
            </div>
            <div class="sub-item-service">
              <div class="c1">60 mts</div>
              <div class="c2"></div>
              <div class="c3">£70</div>
            </div>
            <div class="sub-item-service">
              <div class="c1">45 mts</div>
              <div class="c2"></div>
              <div class="c3">£50</div>
            </div>


          </div>
        </div>

        <div class="clearfix"></div>
      </div>
    </div>
  </section>



