<!-- subheader -->
<section id="subheader" class="subh-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Princing</h1>
        <h4>lorem ipsum</h4>
      </div>
    </div>
  </div>
</section>
<!-- subheader close -->

<div id="content" class="no-bottom no-top">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="box-border padding30">
            <div class="text-center">
            <%= image_tag "background/bg-div-2.jpg", class: 'img-circle img-service-thumbnail' %>
              <div class="spacer-single"></div>
              <h3>PRICING</h3>
              <div class="spacer-double"></div>
            </div>


            <div class="sub-item-service">
              <div class="c1"><h3><strong>Esalen Massage</strong></h3></div>
            </div>
            <div class="sub-item-service">
              <div class="c1">120 mts</div>
              <div class="c2"></div>
              <div class="c3">£120</div>
            </div>            
            <div class="sub-item-service">
              <div class="c1">80 mts</div>
              <div class="c2"></div>
              <div class="c3">£90</div>
            </div>
            <div class="sub-item-service">
              <div class="c1">60 mts</div>
              <div class="c2"></div>
              <div class="c3">£70</div>
            </div>


            <div class="sub-item-service">
              <div class="c1"><h3><strong>Hawaiian massage</strong></h3></div>
            </div>
            <div class="sub-item-service">
              <div class="c1">60 mts</div>
              <div class="c2"></div>
              <div class="c3">£70</div>
            </div>

            
            <div class="sub-item-service">
              <div class="c1"><h3><strong>Swedish massage</strong></h3></div>
            </div>
            <div class="sub-item-service">
              <div class="c1">60 mts</div>
              <div class="c2"></div>
              <div class="c3">£70</div>
            </div>
            <div class="sub-item-service">
              <div class="c1">45 mts</div>
              <div class="c2"></div>
              <div class="c3">£50</div>
            </div>
            <br>
            <p>One session lasts 80 mts approx, this is the suggested time for Esalen massage.</p>
            <p>I recommend to have at least three sessions in a row in a period of a month. If you buy it you can get a<strong> 30% discount</strong>.</p>
            <p>
            Regards to the oil, I usually use sweet almond oil 100% pure cold pressed,
            as a rule suitable for all skin types.    
            <strong>Please give me 24 hours notice to cancel.</strong>


          </div>
        </div>
        

        <div class="clearfix"></div>
      </div>
    </div>
  </section>



