<!-- subheader -->
<section id="subheader" class="subh-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Why?</h1>
        <h4>lorem ipsum</h4>
      </div>
    </div>
  </div>
</section>
<!-- subheader close -->


<!-- section begin -->

            <section id="explore-2" class="side-bg">
                <div class="col-md-4 image-container">
                    <div class="background-image"></div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-4">
                            <div class="padding40">
                                <h2>Recomended for
              <span class="small-border"></span>
                                </h2>
                                Californian massage in general is beneficial for everyone who suffers from stress, chronic pain and tensions. Californian massage can produce some great results, including:
                                <ul>
                                <li>Reducing stress and promoting relaxation.</li>
                                <li>Alleviating muscular tension and joint pain.</li>
                                <li>Relaxing and soothing muscular spasms and cramps.</li>
                                <li>Facilitating healthy circulation and increasing the amount of  oxygen and nutrients that reach the cells.</li>
                                <li>Helping to eliminate toxins.</li>
                                <li>Helping to stabilize hormones and easing anxiety and  depression.</li> 
                                <li>Promotion of healthy deep breathing.</li>
                                </ul>
 
                              For people who are going through a period of change, who have suffered a loss or are in any way going through difficult times. Through bringing calmness and tranquillity it can enable you to see things in a different light.              
                            </div>

                        </div>
                    </div>
                </div>
            </section>
      <!-- section close -->
      
      <!-- section begin -->
            <section id="explore-1" class="side-bg">
                 <div class="col-md-4 col-md-offset-8 pull-right image-container"> 
                <!-- <div class="col-md-4 image-container"> -->
                    <div class="background-image"></div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="padding40">
                                <h2>What is a session like?
              <span class="small-border"></span>
                                </h2>
                                <p>The session starts with a conversation between the therapist and the client with visual contact. The therapist will normally ask if there is anything that he needs to know and what the client needs and expects from the massage.</p>
 
                                <p>After that, the client is left alone in the room and proceeds to undress, lie down on the massage table and cover himself with the sheet provided. The room is quiet, with some background music chosen by the therapist. When the client is ready, the therapist enters the room and carefully places him in a comfortable position.  
                                The therapist's attention is focused at all times on the client, watching his breathing and giving him the time that he needs between one movement and the next.</p>
 
                                <p>Esalen massage is normally given in silence, because it is considered necessary to maximise its benefits. However, the client is allowed to make comments if needed.
                                When the massage is over, the therapist doesn't leave the room, but stays near the client until he opens his eyes or starts getting up. Then the therapist invites the client to rest for a few more minutes and, once he's ready, get up very slowly.</p>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
      <!-- section close -->