<!-- subheader -->
<section id="subheader" class="subh-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Why?</h1>
        <h4>lorem ipsum</h4>
      </div>
    </div>
  </div>
</section>
<!-- subheader close -->


<!-- section begin -->
            <section id="explore-2" class="side-bg">
                <div class="col-md-6 image-container">
                    <div class="background-image"></div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-5 col-md-offset-7">
                            <div class="padding40">
                                <h2>Recomended for
              <span class="small-border"></span>
                                </h2>
                                Californian massage in general is beneficial for everyone who suffers from stress, chronic pain and tensions. Californian massage can produce some great results, including:
                                <ul>
                                <li>Reducing stress and promoting relaxation.</li>
                                <li>Alleviating muscular tension and joint pain.</li>
                                <li>Relaxing and soothing muscular spasms and cramps.</li>
                                <li>Facilitating healthy circulation and increasing the amount of  oxygen and nutrients that reach the cells.</li>
                                </ul>
 
                              For people who are going through a period of change, who have suffered a loss or are in any way going through difficult times. Through bringing calmness and tranquillity it can enable you to see things in a different light.              
                            </div>

                        </div>
                    </div>
                </div>
            </section>
      <!-- section close -->
      
      <!-- section begin -->
            <section id="explore-1" class="side-bg">
                <div class="col-md-6 col-md-offset-6 pull-right image-container">
                    <div class="background-image"></div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="padding40">
                                <h2>What is a session like?
              <span class="small-border"></span>
                                </h2>
                                Welcome to Modis beauty salons where our team of experienced and professionally trained to give you best services. We offer beauty treatments for ladies including hairdressing, make up, facial, massage and more.
                           Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  
                            </div>

                        </div>
                    </div>
                </div>
            </section>
      <!-- section close -->