<!-- subheader -->
<section id="subheader" class="subh-center" data-stellar-background-ratio=".2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Why?</h1>
        <h4>lorem ipsum</h4>
      </div>
    </div>
  </div>
</section>
<!-- subheader close -->


<!-- section begin -->
            <section id="explore-2" class="side-bg">
                <div class="col-md-6 image-container">
                    <div class="background-image"></div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-5 col-md-offset-7">
                            <div class="padding40">
                                <h2>Professional Staff
              <span class="small-border"></span>
                                </h2>
                                Our commitment to quality and services ensure our clients happy. With years of experiences and continuing education, our dedicated staff is ready to serve your beauty needs. We're happy to help you decide the best look.
                           Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.              
                            </div>

                        </div>
                    </div>
                </div>
            </section>
      <!-- section close -->
      
      <!-- section begin -->
            <section id="explore-1" class="side-bg">
                <div class="col-md-6 col-md-offset-6 pull-right image-container">
                    <div class="background-image"></div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="padding40">
                                <h2>Cozy Interior
              <span class="small-border"></span>
                                </h2>
                                Welcome to Modis beauty salons where our team of experienced and professionally trained to give you best services. We offer beauty treatments for ladies including hairdressing, make up, facial, massage and more.
                           Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  
                            </div>

                        </div>
                    </div>
                </div>
            </section>
      <!-- section close -->